<div style="display: flex; margin-bottom: 10px;" class="hidden-mobile">
    Button toggle:&nbsp; <div id="KeymanWebControl"></div>
</div>
<!-- <button (click)="setKeyboards()">Set Keyboards</button> -->
<div style="margin-bottom: 5px;" *ngFor="let language of glossingLanguages">
    {{language.englishName}},
    <small *ngIf="language.vernacularName">{{language.vernacularName}},
        <span *ngIf="language.vernacularAlternate">,
            {{language.vernacularAlternate}},</span>
    </small>
    {{glosses[language.bcp47]}}
    <br />
    <input (click)="setKeyboards()" id="{{language.bcp47}}" [(ngModel)]="glosses[language.bcp47]" placeholder="{{language.bcp47}}"
        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    <!-- <button *ngIf="!language.loaded" (click)="setupInput(language); language.loaded = true">+Keyboard</button> -->
</div>


<button style="margin: 20px 5px 0 0;" (click)="getKeyboards()">List Installed Keyboards</button>
<div *ngIf="installedKeyboards">
    <h4>Installed Keyboards</h4>
    <pre>
        {{installedKeyboards | json}}
    </pre>
</div>

<button style="margin-top: 20px;" *ngIf="!showAvailableKeyboards" (click)="showAvailableKeyboards = true">List Availble Keyboards</button>

<ng-container *ngIf="showAvailableKeyboards">
    <h4>Availble Keyboards</h4>
    <table>
        <tr *ngFor="let keyboard of availableKeyboards.keyboard; let i=index" title="{{keyboard | json}}">
            <td>{{i+1}} {{keyboard.name}}</td>
            <td>{{keyboard.id}}</td>
        </tr>
    </table>
    
    <pre>
        {{ availableKeyboards | json }}
    </pre>
</ng-container>