// Optional styles
* {
  font-family: Tahoma, sans-serif;
}

body .desktop {
  .kmw-osk-inner-frame {
    border: solid 1px #404040;
  }

  .kmw-title-bar,
  .kmw-footer {
    display: none;
  }

  .kmw-key:hover {
    background: #dcdcdc;
  }
}
